body {background-color:#231F20;}

.reduce{width:15%;}

.reduce2{width:35%;}

.reduce3{width:5%;}

.planetposition{top:40px;
left:0px;
position:absolute;
z-index:0;
opacity:0;
}

.earth{top:40px;
left:0px;
position:absolute;
z-index:0;
opacity:0;
}



.button{background-color:red;
width:100px;
height:100px;
border-radius:100%;
margin-top:50px;
margin-left:600px;
z-index:1;
position:absolute;
}

.directions{color:#ffffff;
font-family:Arial, sans-seriff;
margin-top:20px;
margin-left:420px;
z-index:1;
position:absolute;}

